/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both; display: block;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/* img{max-width:100%;} */
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
}

#terms .modal-dialog,
#privacy .modal-dialog {
	width: 80%;
}

/*---start-wrap-----*/
.wrap{
	width:80%;
	margin:0 auto;
}
/*---start-Header-----*/
.header{
	background: #f5f5f5;
	position: fixed;
	z-index: 999;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid rgba(238, 238, 238, 0.49);
	-webkit-box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
	-moz-box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
	box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
}
.logo{
	float: left;
}
.logo a{
	color:#000;
	font-size:2.5em;
}
.head-nav{
	float:right;
}
.head-nav ul li{
	display:inline-block;
}
.head-nav ul li a{
	color: #191F2F;
	text-transform: uppercase;
	font-size: 0.875em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	padding: 1.5em;
	display: block;
}
.head-nav li.active> a, .head-nav li> a:hover {
	color: #000;
}


		

/*---End-Header-----*/
/*----start-image-banner-----*/			
.img-banner{
	padding: 7em 0 0 0;
	background-size: 100%;
	position: relative;
	margin: 2px 0;
	border: 1px solid #eee;
	border-right: 0;
	border-left: 0;
}
.img-banner-info{
	float: left;
	text-align: right;
	width: 55.5%;
	height: 558px;
	margin-bottom: 0;
}
.img-banner-info h1{
	font-size:5em;
}
.img-banner-info h1 span{
	color:#000;
}
.img-banner-info h2{
	font-size:2em;
}

.img-banner-info-inner {
	max-width: 620px;
	max-height: 598px;
	float: right;
	padding-left: 70px;
}
		
.img-banner-info-inner img {
	margin-top: 30px;
	width: 100%;
}
		
.img-banner-info-inner p {
	margin-top: 1em;
	padding: 0 10px;
	width: 100%;
	font-size: 16px;
	text-align: left;
}

.img-banner-pic {
	float: right;
	width: 43%;
	text-align: left;
	background: url(../images/iphone6-frame.png) 59px no-repeat;
	height: 598px;
	margin-bottom: 0;
	z-index: 1000;
}

.info-btns ul li{
	display:inline-block;
}
.info-btns ul li:first-child{
	margin-right:5px;
}
.info-btns ul li:first-child a{
	width: 180px;
	height: 60px;
	display: block;
	background: url(../images/comingsoon.png) no-repeat #F2F4F5 0px -61px;
}
.info-btns ul li:nth-child(2) a{
	width: 180px;
	height: 60px;
	display: block;
	background: url(../images/comingsoon.png) no-repeat #F2F4F5 0px 0px;
}
.info-btns{
	margin-top: 30px;
	width: 100%;
	text-align: center;
}

/*----some addons----*/
.logo img {
	margin-top: 12px;
}

#screenshot {
	margin-left: 78px;
	margin-top: 73px;
}

#app-img-section {
	margin-left: 77px;
	margin-top: 73px;
	width: 250px;
	height: 440px;
}

/*
#app-banner {
	margin-left: 80px;
	margin-top: 72px;
	width: 247px;
	height: 40px;
	background: url(../images/app-banner.png) no-repeat;
}

#app-img-loading,

		
#loading {
	width: 36px;
	margin-top:148px;
	margin-left:105px;
}

.screen {
	overflow: hidden;
}
		
.warning {
	margin-left: 14px;
	margin-top: 188px;
	color: black;
	font-style: bold;
}
			
.tile-title {
	padding: 8px;
	font-size: 15px !important;
	font-weight: 600;
	background: rgba(168,168,168,0.5);
}

.singup {
	padding: 10px 16px;
	font-size: 19px;
	line-height: 1.33;
	border-radius: 4px;
	color: #FFFFFF;
	background-color: #F45D35;
	border-color: #F45D35;
	margin-top: 20px;
	outline: 0;
}

.singup:hover {
	color: #FFFFFF;
	background-color: #DC5430;
	border-color: #DC5430;
	outline: 0;
}
*/	

/*----//End-image-banner-----*/
/*---start-top-grids-----*/
.top-grids{
	background:#f5f5f5;
	padding: 5em 0;
	margin: 2px 0;
}

.icon1,
.icon2,
.icon3 {
	display: inline-block;
	padding: 4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border: 4px solid #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.icon1 img, 
.icon2 img,
.icon3 img {
	height: 180px;
	width: 180px;
	display: block;
	/*vertical-align: middle;*/
	opacity: 0.9;
}

.icon1 img:hover,
.icon2 img:hover,
.icon3 img:hover {
	height: 180px;
	width: 180px;
	display: block;
	/*vertical-align: middle;*/
	opacity: 1;
}

.top-grid{
	text-align:center;
	width:31.33%;
	float:left;
	margin-right:2%;
	height: 100%;
}
.top-grid h3{
	font-size: 1.5em;
	text-transform: uppercase;
	color: #191F2F;
	font-weight: 800;
	margin-top: 0.5em;
}

.top-grid b{
	font-size: 0.95em;
	line-height: 1.5em;
	color: #000000;
	font-weight: 600;
}
.top-grid p{
	font-size: 0.875em;
	line-height: 1.5em;
	color: #81888d;
	font-weight: 300;
	margin: 0.5em 0 0.8em 0;
}

.top-grid:last-child{
	margin-right:0;
}

/*---//End-top-grids-----*/
/*---start-mid-grids-----*/
.mid-grid-top {
	padding: 5em 0;
	border-top: 1px solid #eee;
	margin: 2px 0;
	border-bottom: 1px solid #eee;
	width: 100%;
	text-align: center;
}

.mid-grid-top h3{
	font-size: 2em;
	color: #191F2F;
	margin-bottom: 2em;
}

.mid-grid-top-pic{
	float: left;
	width: 35%;
	text-align: right;
	background: url(../images/iphone6-frame.png) right top no-repeat;
	height: 598px;
}
.mid-grid-top-info{
	float: right;
	width: 58%;
	margin-top: 4.5em;
	padding: 0 8% 0 5%;
}
.mid-grid-top-info h3{
	font-size:2em;
	color:#191F2F;
	margin-right: 8%;
}
.mid-grid-top-info p{
	line-height: 1.8em;
	margin-top: 1em;
	color: #81888d;
	font-size: 1.3em;
	text-align: left;
}

.mid-grids-center{
	background: #f5f5f5;
	padding: 5em 0;
}
.mid-grids-center{
	text-align:center;
}
.mid-grids-center h3{
	font-size: 2em;
	color: #191F2F;
}
.mid-grids-center p{
	width: 70%;
	margin: 1em auto 2em auto;
	line-height: 1.8em;
	color: #81888d;
}

/*---carousel---*/
#carousel {
	float: right;
	margin-top: 71px;
	margin-right: 19px;
}
/*		
.carousel-inner .item {
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
		
.carousel-inner .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
		
.carousel-inner .next {
	left:0;
	opacity:1;
	z-index:1;
}

.carousel-inner, 
.carousel-inner .item {
	height: 100%;
}
*/
/*---End-mid-grids-----*/
/*---start-mid-grids-bottom-----*/
.mid-grids-bottom form{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #E6E6E6;
	width: 60%;
	margin: 0 auto;
	background: #F2F4F5;
	padding: 0.5em;
}
.mid-grids-bottom input[type="email"]{
	padding: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	outline:none;
	border: none;
	width: 40%;
	/*text-transform:uppercase;*/
	color: #81888d;
}
.mid-grids-bottom input[type="submit"]{
	background:#191F2F;
	border: none;
	padding: 0.6em 3em;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #fff;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mid-grids-bottom input[type="submit"]:hover{
	background: #000;
}

.mid-grids-bottom select{
	padding: 0.6em 0 0.2em 0.1em;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	outline:none;
	border: none;
	border-bottom:0.4em solid #F2F4F5;
	width: 15%;
	background-color: #fff;
	min-width: 105px;
}

.mid-grids-bottom label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.mid-grids-bottom h3{
	text-align: center;
	font-size: 2em;
	width: 100%;
	margin: 0em auto 1em auto;
	color: #191F2F;
}
.mid-grids-bottom {
	padding: 4em 0 3.5em 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin: 2px 0;
}
/*---End-mid-grids-bottom-----*/


/*-----start dashboard-----*/

.dash{
	padding: 4em 0 0 0;
	position: relative;
	margin: 2px 0;
	border: 1px solid #eee;
	border-right: 0;
	border-left: 0;
}

.dash .navbar{
	float: left;
	text-align: left;
	width: 10%;
	height: 100%;
	min-height: 780px;
	min-width: 160px;
	background-color: #F5F5F5;
	display: inline-block;
	margin-bottom: 1px;
}


ul.menu{
	padding-left:0;
	list-style-type:none;
	font-size: 14px;
}


ul.menu>li a{
	display:block;
	position:relative;
	padding:10px 0 10px 15px;
	color:#555;
	background-color:#F5F5F5;
	border-top:1px solid #dfdfdf;
	cursor: pointer;
}

ul.menu>li a:hover{
	text-decoration:none;
	background-color:#dfdfdf;
}

ul.menu>li.active>a{
	font-weight:700;
	background-color:#dfdfdf;
	text-decoration:none;
}

ul.menu>li.fixed>a{
	text-align: center;
	font-weight:800;
	background-color:#f1f1f1;
	padding-left: 0px;
	margin-left: -10px;
	cursor: default;
}

ul.menu>li:first-child>a{
	border-top:none;
}

ul.menu>li:last-child>a{
	border-bottom:1px solid #dfdfdf;
}

ul.menu>li .fa{
	width:14px;
	text-align:center;
}

ul.menu>li .text{
	padding-left:8px;
	font-size:0.9em;
}

ul.menu>li .toggle-icon{
	font-size:14px;
	width:10px;
	position:absolute;
	right:10px;
	top:13px;
	text-shadow:none;
}

.dash .content {
	float: left;
	text-align: left;
	width: 86%;
	height: 100%;
	min-height: 780px;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 1px;
}

.tab-content {
	height: 720px;
	overflow-y: auto;
	border-left: 1px solid #ddd;
}

.nav li {
	min-width: 160px;
}

.nav li a {
	outline: 0;
}

.tab-pane {
	padding-top: 24px;
}

.tab-pane .form-group {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab-pane h1 {
	font-size: 22px;
	font-weight: 700;
}

.tab-pane textarea {
	resize: vertical;
	height: 78px;
}

.fa-stack strong {
	color: white;
	font-weight: 600;
	margin-left: 1px;
	margin-bottom: 1px;
}

i.step {
	color: #3C9892;
}

i.remove {
	color: #C3676D;
	cursor: pointer;
}

a.add {
	color: #3C9892;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.add-on .input-group-btn > .btn {
	border-left-width:0;
	left:-2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#cccccc; 
}

.bind {
	background-color: #F45D35;
	color: white; 
}

.bind:hover {
	background-color: #DC5430;
	color: white; 
}


#searchlist {
	max-height: 720px;
	overflow-y: auto;
}

a.elemSearchTab {
	cursor: pointer;
}

/*------end--dashboard-----*/



/*----Start-signup-Modal----*/
#signupConfirm {
	top: 20%;
}

#signupConfirm .modal-dialog{
	max-width: 840px;
	width: 60%;
}

#signupConfirm .modal-header{
	text-align: center;
	border: none;
	margin-bottom: 20px;
}

#signupConfirm .modal-footer{
	border: none;
}

#signupConfirm .modal-body{
	text-align: center;
}

h3.modal-title {
	font-size: 50px;
	margin-top: 40px;
}

p.lead {
	font-size: 24px;
}


/*----End-signup-Modal----*/


/*---start-footer----*/

.footer-dash, 
.footer{
	text-align:center;
	padding: 0;
	position:relative;
}

.footer-dash .wrap {
	padding: 20px 0 4px 0;
}

.footer .wrap {
	padding: 30px 0 24px 0;
}

.footer-left {
	margin-left: 0;
	width: 18%;
	display: block;
	float: left;
	height: 30px;
	min-width: 126px;
}

.footer-left img {
	height: 100%;
}

.footer-center {
	width: 64%;
	float: left;
	text-align: center;
	margin-left: 5px;
	padding-top: 10px;
}

.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #777;
	display: block;
	margin: 0px 10px;
	text-transform: uppercase;
	font-size:1em;
	text-decoration: none;
}
.cssmenu ul li a:hover{
	color:#333;
	text-decoration: none;
}

.footer-right {
	margin-top: -44px;
	margin-left: 0;
	width: 18%;
	display: block;
	float: right;
	min-width: 160px;
	padding-top: 15px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 32px;
    outline: 0;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 0.9;
}

.list-inline li {
	padding-left: 2px;
	padding-right: 2px;
}

a.tw {
    background-color: #00aced; /* Twitter Blue */
}

a.fb {
	background-color: #3b5998; /* Facebook Blue */
}

a.pin {
    background-color: #cb2027; /* Pinterest Red */
}

a.gplus {
    background-color: #dd4b39; /* Google+ Red */
}

a.inst {
    background-color: #517fa4; /* Instagram Blue */
}

/* ul.social-buttons li a:active, */
ul.social-buttons li a:hover,
ul.social-buttons li a:focus {
	opacity: 1;
}
	


/*---End-footer----*/
/*---start-copyright----*/
.copy{
	margin-bottom:2%;
}
.copy-dash{
	margin-bottom:2px !important;
}

.copy p {
	color: #777;
	font-size: 1.1em;
	text-align: center;
}
.copy p a {
	color: #777;
	font-weight: 500;
	text-decoration: none;
}
.copy p a:hover{
	color: #F45D35;
	text-decoration: none;
}
/*---End-copyright----*/
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/img-sprit.png) no-repeat 0px -938px;
}
#toTopHover {
	width: 48px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*---//End-wrap-----*/
/*----responsive-design-----*/
@media only screen and (max-width: 1440px) and (min-width: 1366px) {
	.wrap{
		width:90%;
	}
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 75%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 75%;
	}
	.mid-grids-bottom form {
		width: 51%;
	}
	.img-banner-pic {
		width: 43.3%;
	}
	.img-banner-info {
		width: 53%;
	}
	.mid-grid-top-pic {
		width: 39%;
	}
	.mid-grid-top-info {
		width: 58%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 75%;
	}
	.mid-grids-bottom form {
		width: 64%;
	}
	.img-banner-pic {
		width: 43.3%;
	}
	.img-banner-info {
		width: 53%;
	}
	.mid-grid-top-pic {
		width: 39%;
	}
	.mid-grid-top-info {
		width: 59%;
	}
	.mid-grids-bottom h3 {
		font-size: 2em;
		width: 50%;
	}
	.top-grid p label{
		display:none;
	}
	.top-grid p {
		margin: 0.5em 0;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 75%;
	}
	.mid-grids-bottom form {
		width: 85%;
	}
	.img-banner-pic {
		float: none;
		margin: 2em auto;
		text-align: center;
		width: 300px;
	}
	.img-banner-info p {
		width:90%;
		text-align:center;
		float:none;
		margin:1em auto 0 auto;
	}
	.img-banner-info {
		float:none;
		width:100%;
		text-align:center;
		margin-top:1em;
	}
	.img-banner {
		padding: 0em 0 0 0;
	}
	.mid-grid-top-pic {
		width:396px;
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.mid-grid-top-info {
		width: 100%;
		float:none;
		margin-top:2em;
	}
	.mid-grids-bottom h3 {
		font-size: 2em;
		width: 67%;
	}
	.mid-grids-center p {
		width: 90%;
	}
	.top-grid p label{
		display:none;
	}
	.top-grid p {
		margin: 0.5em 0;
	}
	.logo {
		float: none;
		text-align:center;
		margin-top: 0em;
		padding-top:0.6em;
	}
	.head-nav {
		float: none;
		text-align:center;
	}
	.top-grid {
		text-align: center;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
}
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 70%;
	}
	.mid-grids-bottom form {
		width: 85%;
	}
	.img-banner-pic {
		float: none;
		margin: 2em auto;
		text-align: center;
		width: 300px;
	}
	.img-banner-info p {
		width:90%;
		text-align:center;
		float:none;
		margin:1em auto 0 auto;
	}
	.img-banner-info {
		float:none;
		width:100%;
		text-align:center;
		margin-top:1em;
	}
	.img-banner {
		padding: 0em 0 0 0;
	}
	.mid-grid-top-pic {
		width:396px;
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.mid-grid-top-info {
		width: 100%;
		float:none;
		margin-top:2em;
	}
	.mid-grids-bottom h3 {
		font-size: 2em;
		width: 67%;
	}
	.mid-grids-center p {
		width: 90%;
	}
	.top-grid p label{
		display:none;
	}
	.top-grid p {
		margin: 0.5em 0;
	}
	.logo {
		float: none;
		text-align:center;
		margin-top: 0em;
		padding-top:0.6em;
	}
	.head-nav {
		float: none;
		text-align:center;
	}
	.top-grid {
		text-align: center;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	.wrap{
		width:90%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 60.2%;
	}
	.mid-grids-bottom form {
		width: 85%;
	}
	.img-banner-pic {
		float: none;
		margin: 2em auto;
		text-align: center;
		width: 300px;
	}
	.img-banner-info p {
		width:90%;
		text-align:center;
		float:none;
		margin:1em auto 0 auto;
	}
	.img-banner-info {
		float:none;
		width:100%;
		text-align:center;
		margin-top:1em;
	}
	.img-banner {
		padding: 0em 0 0 0;
	}
	.mid-grid-top-pic {
		width:396px;
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.mid-grid-top-info {
		width: 100%;
		float:none;
		margin-top:2em;
	}
	.mid-grids-bottom h3 {
		font-size: 2em;
		width: 82%;
	}
	.mid-grids-center p {
		width: 90%;
	}
	.top-grid p label{
		display:none;
	}
	.top-grid p {
		margin: 0.5em 0;
	}
	.logo {
		float: none;
		text-align:center;
		margin-top: 0em;
		padding-top:0.6em;
	}
	.head-nav {
		float: none;
		text-align:center;
	}
	.top-grid {
		text-align: center;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
	.head-nav ul li a {
		padding: 2.2em 0.8em;
	}
	.img-banner-info h1 {
		font-size: 3.5em;
	}
}
@media only screen and (max-width: 320px) and (min-width: 240px) {
	.wrap{
		width:95%;
	}
	.mid-grids-bottom input[type="text"] {
		width: 60.2%;
	}
	.mid-grids-bottom form {
		width: 85%;
	}
	.img-banner-pic {
		float: none;
		margin: 2em auto;
		text-align: center;
		width: 278px;
	}
	.mid-grid-top {
		padding: 0em 0;
	}
	.mid-grids-bottom {
		padding: 2em 0;
	}
	.mid-grids-bottom input[type="submit"] {
		padding: 1em 1.3em;
	}
	.img-banner-info p {
		width:90%;
		text-align:center;
		float:none;
		margin:1em auto 0 auto;
	}
	.img-banner-info {
		float:none;
		width:100%;
		text-align:center;
		margin-top:1em;
	}
	.img-banner {
		padding: 0em 0 0 0;
	}
	.mid-grid-top-pic {
		display:none;
	}
	.mid-grid-top-info {
		width: 100%;
		float:none;
		margin-top:2em;
	}
	.mid-grids-bottom h3 {
		font-size: 2em;
		width: 82%;
	}
	.mid-grids-center p {
		width: 90%;
	}
	.top-grid p label{
		display:none;
	}
	.top-grid p {
		margin: 0.5em 0;
	}
	.logo {
		float: none;
		text-align:center;
		margin-top: 0em;
		padding-top:0.6em;
	}
	.head-nav {
		float: none;
		text-align:center;
	}
	.top-grid {
		text-align: center;
		width:100%;
		float: none;
		margin-right: 0%;
		margin-bottom:1em;
	}
	.head-nav ul li a {
		padding: 2.2em 0.2em;
		font-size: 0.8em;
	}
	.img-banner-info h1 {
		font-size: 2.5em;
	}
	.img-banner-info h2 {
		font-size: 1.5em;
	}
}